/* CSS Document */

@font-face {
    font-family: 'Binbows';
    src: url('/fonts/binbows/font.woff2') format('woff2'),
         url('/fonts/binbows/font.woff') format('woff'),
         url('/fonts/binbows/font.ttf') format('truetype');
}

body {
    background-color: #969acf;
    position: relative;
    display: flex;
}

.win1 {
    position: relative;
    margin: auto;
    border-color: #969acf;
    border: 2px solid;
    height: 300px;
    width: 600px;
    background-color: #cbcce7;
    border-top-color: #eeeef7;
    border-left-color: #eeeef7;
}

.win1title {
    background-color: #6268b7;
    text-align: left;
    font-family: 'Binbows', sans-serif;
    color: #969acf;
    height: 10%;
}