.navbar {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: auto;
  font-size: large;
  list-style: none;
  width: 90vw;
  max-width: var(--width);
}

.navbar .item {
  margin: 2.5rem 3rem 0 0;
  transition: margin 100ms;
}

.navbar .darkModeToggle {
  margin: 2.5rem 0 0 auto;
  cursor: pointer;
}

.navbar .darkModeToggle:hover svg {
  color: var(--accent);
}

.navbar .item a:hover {
  color: var(--accent);
}

.navbar .item:first-child {
  font-weight: bold;
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .navbar .item {
    margin: 1.5rem 2rem 0 0;
  }
  .navbar .darkModeToggle {
    margin: 1.5rem 0 0 auto;
  }
}
