.navbar {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: large;
}

.navbar .item {
  margin: 24px 32px 24px 0;
  align-items: center;
}

.navbar .item a:hover {
  font-weight: inherit;
}

.navbar .item::marker{
  content: "";
}

.navbar .item:first-child {
  font-weight: bold;
  color: var(--secondary);
}
