.navbar {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
  font-size: large;
  list-style: none;
  width: 90vw;
  max-width: var(--width);
}

.navbar .item {
  margin: 24px 32px 24px 0;
  align-items: center;
}

.navbar .item a:hover {
  font-weight: inherit;
}

.navbar .item:first-child {
  font-weight: bold;
  color: var(--secondary);
}
