.card {
  background: var(--background);
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: left;
  transition: 150ms;
  box-shadow: 0 0 0 var(--secondary);
  outline: 0 solid;
  position: relative;
  top: 0;
  left: 0;
}

.card h2,
.card p {
  pointer-events: none;
  margin: 0;
}
.card h2 {
  margin-bottom: 1rem;
  font-family: var(--primary-font);
  font-size: 2rem;
}

.card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.card:hover {
  top: -0.5rem;
  left: -0.5rem;
  box-shadow: 1rem 1rem 0 var(--secondary);
  /*outline: 0.2rem solid;*/
}

@media screen and (max-width: 768px) {
  .card {
    padding: 2rem;
  }

  .card:last-child {
    font-size: 1.25rem;
  }

  .card.hideOnMobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 2rem;
  }
}
