.card {
  background: var(--background);
  border-radius: 12px;
  padding: 36px;
  text-align: left;
  transition: 75ms;
  box-shadow: 0 0 0 var(--secondary);
  position: relative;
  top: 0;
  left: 0;
}

.card h2,
.card p {
  pointer-events: none;
  margin: 0;
}
.card h2 {
  margin-bottom: 16px;
  font-family: var(--primary-font);
}

.card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.card:hover {
  top: -6px;
  left: -6px;
  box-shadow: 12px 12px 0 var(--secondary);
}

@media screen and (max-width: 768px) {
  .card {
    padding: 24px;
  }

  .card:last-child {
    font-size: 1.25rem;
  }

  .card.hideOnMobile {
    display: none;
  }
}