.card {
  background: var(--background);
  border-radius: 12px;
  padding: 36px;
  text-align: left;
}

.card > * {
  margin: 0;
}

.card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
