:root {
	--pink: #ff4ad0;
	--green: #33d133;
	--blue: #00b5f2;
	--purple: #ce60f2;

	--card-bg-pink: #343030;
	--input-bg-pink: #3c3a3a;
	--input-bg-purple: #3b393b;
	--input-bg-blue: #3a3a3c;

	/* background colors */
	--bg-pink: #262424;
	--bg-green: #242624;
	--bg-blue: #242426;
	--bg-purple: #252325;

	/* stuff accents */
	--msgithub-accent: #aa8ed6;
	--dcbadge-accent: #a0a8f8;
	--errors-accent: var(--blue);
	--spinmii-accent: var(--purple);
	--pretendo-accent: #9d6ff3;

	--regular-font: 'Space Grotesk Variable', sans-serif;
	--monospace-font: 'Space Mono', monospace;
	--letter-spacing: -2.5%;
	--text-color: #d6d6d6;
	--text-muted: #939191;
	--text-on-gradient: #262424;
	--desktop-max-width: 1800px;

	--beeg-font-size: 32px;
	--desktop-font-size: 24px;
	--tablet-font-size: 20px;
	--phablet-font-size: 16px;
	--mobile-font-size: 12px;
	--medium-max-width: 80%;
	--mobile-max-width: 90%;

	color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
	:root {
		--card-bg-pink: #fff;
		--input-bg-pink: #fff;
		--input-bg-purple: #fff;
		--input-bg-blue: #fff;
		--card-border: 1px solid #ccc;
		--input-border: var(--card-border);

		/* background colors */
		--bg-pink: #fef;
		--bg-green: #efe;
		--bg-blue: #eef;
		--bg-purple: #fef;

		--text-color: #000;
		--text-muted: #999;
		--text-on-gradient: #262424;
	}
}

html,
body {
	background: var(--bg-pink);
	color: var(--text-color);
	font-family: var(--regular-font);
	letter-spacing: var(--letter-spacing);
	font-size: var(--beeg-font-size);
	margin: 0;
	height: 100%;
	width: 100%;
}
* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

::selection {
	background: #0f0;
	color: #000;
}

@media screen and (max-width: 2000px) {
	:root {
		--desktop-max-width: 1400px;
	}
	html,
	body {
		font-size: var(--desktop-font-size);
	}
}

@media screen and (max-width: 1400px) {
	html,
	body {
		font-size: var(--tablet-font-size);
	}
}

@media screen and (max-width: 560px) {
	html,
	body {
		font-size: var(--phablet-font-size);
	}
}

h1 {
	font-size: var(--h1-size, 5rem);
	font-weight: 700;
}

@media screen and (max-width: 870px) {
	:root {
		--h1-size: 4rem;
	}
}
@media screen and (max-width: 720px) {
	:root {
		--h1-size: 3.5rem;
	}
}
@media screen and (max-width: 420px) {
	:root {
		--h1-size: 2.5rem;
	}
}
