.wrapper {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: min(var(--width), 90%);
  margin-top: -4rem;
}
.container h1 {
  font-size: 8rem;
  color: var(--accent);
  margin: 0;
  margin-bottom: -2rem;
  font-family: var(--primary-font);
}
.container h2 {
  font-size: 4rem;
  color: var(--secondary);
  margin: 0;
  font-family: var(--primary-font);
}
.container .buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container .buttonWrapper {
  margin-top: 4rem;
}
.container a.homepageLink {
  margin-right: 1.5rem;
}
.container a.homepageLink:hover {
  text-decoration: underline;
}

.container button {
  appearance: none;
  border: none;

  background: var(--accent);
  color: var(--background);

  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  font-size: inherit;
  font-family: inherit;
}
[data-theme="light"] .container button {
  background: var(--accent);
}

@media (max-width: 980px) {
  .container h1 {
    font-size: 4rem;
  }

  .container h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
