:root {
  --width: 1300px;

  --accent: #FF6B6B; 
  --secondary: #251659;
  --dimmed: var(--secondary);
  --tertiary: #FF6B6B;
  --background: #f6effb;
  --heading-font: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --radius: 100%;
  --border: none;
}

@import url(./typefaces.css);

html,
body {
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--dimmed);
  font-family: var(--secondary-font);
  font-weight: 300;
  background: var(--background);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
  color: var(--accent);
}

span.stuff {
  color: var(--tertiary);
}

.smol-text {
  font-size: 0.5em !important;
}