:root {
  --width: 1200px;

  --accent: #e5707e;
  --secondary: #343434;
  --tertiary: #6b5cdf;
  --background: #fff1d6;

  --font-family: "Poppins", sans-serif;

}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

html,
body {
  position: relative;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--secondary);
  font-family: var(--font-family);
  background-color: var(--background);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
