.navbarBg {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  box-shadow: 0 10px 15px var(--grey-shadow);
}

.navbarList {
  width: 90vw;
  padding: 0;
  padding-left: 20px;
  margin: 10px 20px;
  max-width: var(--width);
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbarItem {
  display: flex;
  align-items: center;
  font-size: large;
  margin-right: 40px;
  color: var(--medium-purple);
}

.navbarItem:hover {
  text-decoration: underline;
}

.navbarMainItem {
  display: flex;
  align-items: center;
  font-size: large;
  margin-right: 40px;
  font-weight: bold;
}

.heroSection {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.heroImage {
  width: 225px;
  height: 225px;
  border-radius: 20px;
  background-color: var(--light-color);
  filter: drop-shadow(-20px -20px 0 var(--medium-purple));
  margin: auto;
  padding: auto;
  margin-top: 100px;
}

.heroText {
  padding-top: 20px;
  text-align: center;
  font-size: xxx-large;
}

.aboutSection {
  width: 90vw;
  max-width: var(--width);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 60px;
  align-items: center;
  margin: auto;
}

.aboutImage {
  width: 225px;
  height: 225px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 60px;
  margin-right: 10px;
}

.aboutText {
  width: 65%;
  margin: 5px 10px;
}

.aboutHeader {
  font-size: xx-large;
}

.stuffHeader {
  text-align: center;
  font-size: xx-large;
  margin-top: 0;
}

.stuffParagraph {
  text-align: center;
}

.stuffBg {
  background-color: var(--light-color);
  width: 100vw;
  flex-flow: column;
  left: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 -10px 15px var(--grey-shadow);
}

.stuffSection {
  max-width: var(--width);
  width: 90vw;
  margin: auto;
  filter: drop-shadow(5px 5px 10px var(--purple-shadow));
  padding-bottom: 80px;
  padding-top: 80px;
}

.stuffList {
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.card {
  margin: 10px;
  background-color: var(--background-color);
  position: relative;
  border-radius: 20px;
  padding: 20px;
  flex: 380px;
  filter: drop-shadow(5px 5px 10px var(--purple-shadow));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.card:hover {
  filter: drop-shadow(15px 15px 10px var(--purple-shadow));
  transition: 200ms;
  background-color: var(--light-hover);
}

.contactBg {
  width: 100vw;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: center;
  box-shadow: 0 -10px 15px var(--purple-shadow);
}

.contactSection {
  width: 90vw;
  max-width: var(--width);
  margin: 80px 0 40px;
}

.contactHeader {
  margin-top: 0;
  font-size: xx-large;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.contactParagraph {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.contactCardList {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 5px;
}

.contactCardGitHub {
  display: flex;
  flex-flow: row;
  flex: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #181717;
  color: #fff;
}

.contactCardGitHub:hover {
  background-color: #343232;
  transition: ease-in-out 0.1s;
}

.contactCardDiscord {
  display: flex;
  flex-flow: row;
  flex: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #5865f2;
  color: #fff;
}

.contactCardTwitter {
  display: flex;
  flex-flow: row;
  flex: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #1da1f2;
  color: #fff;
}

.contactCardTwitter:hover {
  background-color: #51b6f5;
  transition: ease-in-out 0.1s;
}

.contactCardEmail {
  display: flex;
  flex-flow: row;
  flex: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #737abf;
  color: #fff;
}

.contactCardEmail:hover {
  background-color: #9da2d2;
  transition: ease-in-out 0.1s;
}

.contactCardKofi {
  display: flex;
  flex-flow: row;
  flex: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  background-color: #ff5e5b;
  color: #fff;
}

.contactCardKofi:hover {
  background-color: #ff8785;
  transition: ease-in-out 0.1s;
}

.contactCardIcon {
  padding-right: 10px;
  width: 24px;
}

.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--medium-purple);
  background-color: var(--dark-purple);
  height: 60px;
}

@media screen and (max-width: 500px) {
  .navbarBg {
    display: none;
  }

  .contactCardList {
    margin: 0;
  }

  .contactCardDiscord {
    flex: none !important;
    width: 90%;
    margin: 10px auto;
  }
  .contactCardTwitter {
    flex: none !important;
    width: 90%;
    margin: 10px auto;
  }
  .contactCardGitHub {
    flex: none !important;
    width: 90%;
    margin: 10px auto;
  }
  .contactCardEmail {
    flex: none !important;
    width: 90%;
    margin: 10px auto;
  }
  .contactCardKofi {
    flex: none !important;
    width: 90%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 600px) {
  .contactCardDiscord {
    flex: 40%;
  }
  .contactCardTwitter {
    flex: 40%;
  }
  .contactCardGitHub {
    flex: 40%;
  }
  .contactCardEmail {
    flex: 40%;
  }
  .contactCardKofi {
    flex: 40%;
  }
}

@media screen and (max-width: 900px) {
  .aboutText {
    width: auto;
  }

  .aboutImageContainer {
    display: none;
  }

  .aboutSection {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .contactCardEmail {
    flex: 40%;
  }
  .contactCardKofi {
    flex: 40%;
  }
}
