.wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 90vw;
  height: 100vh;
  max-width: var(--width);
  color: var(--secondary);
}

.wrapper h1 {
  font-family: var(--primary-font);
}

.wrapper p {
  font-family: var(--secondary-font);
}

.floatingContainer {
  margin: auto;
}

.floatingContainer * {
  transition: font-size 100ms;
}

.projectHero h1 {
  font-size: 4rem;
  margin: 0;
}

.projectHero p {
  font-size: 1.8rem;
  margin: 0;
}

.select {
  margin-top: 2rem;
}
.floatingContainer > textarea,
.floatingContainer > input[type="text"],
textarea.styled,
input[type="text"].styled {
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1);
  padding: 10px 11px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  resize: none;
  background: #fff;
  box-sizing: border-box;
}
[data-theme="dark"] .floatingContainer > textarea,
[data-theme="dark"] .floatingContainer > input[type="text"],
[data-theme="dark"] textarea.styled,
[data-theme="dark"] input[type="text"].styled {
  box-shadow: none;
  background: rgba(var(--secondaryrgb), 0.15);
  color: #fff;
}
.floatingContainer > textarea::placeholder,
.floatingContainer > input[type="text"]::placeholder,
textarea.styled::placeholder,
input[type="text"].styled::placeholder {
  color: rgba(var(--secondaryrgb), 0.8);
}
.floatingContainer > textarea:focus,
.floatingContainer > input[type="text"]:focus,
textarea.styled:focus,
input[type="text"].styled:focus {
  outline: none;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1),
    0 0 0 2px var(--accent);
}

.floatingContainer > button,
button.styled {
  position: relative;
  appearance: none;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1);
  background: var(--accent);
  cursor: pointer;
  color: #fff;
  padding: 9px;
  font-size: inherit;
  font-family: inherit;
}
[data-theme="dark"] .floatingContainer > button,
[data-theme="dark"] button.styled {
  color: var(--background);
  box-shadow: none;
}
.floatingContainer > button:hover,
button.styled:hover {
  background: rgba(var(--accentrgb), 0.85);
}

.floatingContainer button.loading {
  position: relative;
  background: rgba(var(--accentrgb), 0.8);
  pointer-events: none;
  overflow: hidden;
  color: transparent;
}

.floatingContainer button.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% * var(--load-percentage) / 100);
  height: 100%;
  background: var(--secondary);
  transition: width 150ms;
}

.floatingContainer button.loading::after {
  content: "Rendering...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingContainer > label {
  display: inline-block;
  margin-top: 2rem;
}

.floatingContainer > fieldset {
  border: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  gap: 2px;
}

.floatingContainer > fieldset > label {
  background: rgba(var(--secondaryrgb), 0.15);
}

.floatingContainer > fieldset input[type="radio"] {
  display: none;
}

.floatingContainer > fieldset input[type="radio"] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
}

.floatingContainer > fieldset input[type="radio"]:checked + label {
  background: var(--secondary);
  color: var(--background);
}

.floatingContainer > fieldset.three {
  grid-template-columns: repeat(3, 1fr);
}
.floatingContainer > fieldset.four {
  grid-template-columns: repeat(4, 1fr);
}

.notice {
  color: var(--secondary);
  top: 0;
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.wrapper h2 {
  width: fit-content;
  display: inline-block;
  margin: 0;
  font-family: var(--primary-font);
}

.guide {
  position: absolute;
  top: 2rem;
  right: 0;
}

.footer {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
  max-width: var(--width);
}

.footer a:hover {
  color: var(--accent);
  text-decoration: underline;
}

.fakeTweet {
  background-color: #0f172b;
  border-radius: 8px;
  padding: 24px;
  margin-top: 2rem;
}
[data-theme="light"] .fakeTweet {
  background-color: #dabeef;
  color: #694bd2;
}
.fakeTweet .tweetHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.fakeTweet .tweetHeader img {
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.fakeTweet .tweetHeader .text {
  margin-left: 12px;
}
.fakeTweet .tweetHeader .text p {
  margin: 2px 0;
}
.fakeTweet .tweetHeader .text p.name {
  font-weight: bold;
  color: #f1e4ef;
}
.fakeTweet .tweetContent {
  color: #f1e4ef;
}
[data-theme="light"] .fakeTweet .tweetContent,
[data-theme="light"] .fakeTweet .tweetHeader .text p.name {
  color: var(--secondary);
}
.fakeTweet .tweetInfo {
  margin-bottom: 0;
}

.elWithSideIcon {
  display: grid;
  grid-template-columns: 36px auto;
  gap: 12px;
  align-items: center;
}

.elWithSideIcon > textarea.styled,
.elWithSideIcon > input[type="text"] {
  margin-top: 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 150ms;
}

@media screen and (max-width: 768px) {
  .guide {
    top: 1.2rem;
  }

  .projectHero h1 {
    font-size: 3.2rem;
  }
  .projectHero p {
    font-size: 1.5rem;
  }

  .floatingContainer {
    text-align: left;
  }

  .floatingContainer > fieldset.four {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .projectHero h1 {
    font-size: 2.8rem;
  }

  .projectHero p {
    font-size: 1.1rem;
  }
}
