.wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 90vw;
  height: 100vh;
  max-width: var(--width);
  color: var(--secondary);
}

.wrapper h1 {
  font-family: var(--primary-font);
}

.wrapper p {
  font-family: var(--secondary-font);
}

.floatingContainer {
  margin: auto;
}

.floatingContainer * {
  transition: font-size 100ms;
}

.projectHero h1 {
  font-size: 4rem;
  margin: 0;
}

.projectHero p {
  font-size: 1.8rem;
  margin: 0;
}

.select {
  margin-top: 2rem;
}
.textarea {
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1);
  padding: 10px 11px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  resize: none;
}
.textarea::placeholder {
  color: rgba(var(--secondaryrgb), 0.8);
}
.textarea:focus {
  outline: none;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1),
    0 0 0 2px var(--accent);
}

.button {
  position: relative;
  appearance: none;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  width: 100%;
  box-shadow: 0px 2px 4px 2px rgba(var(--secondaryrgb), 0.1);
  background: var(--accent);
  cursor: pointer;
  color: #fff;
  padding: 9px;
  font-size: inherit;
  font-family: inherit;
}
.button:hover {
  background: rgba(var(--accentrgb), 0.85);
}

.notice {
  color: var(--secondary);
  top: 0;
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.wrapper h2 {
  width: fit-content;
  display: inline-block;
  margin: 0;
  font-family: var(--primary-font);
}

.guide {
  position: absolute;
  top: 2rem;
  right: 0;
}

.footer {
  margin: 2rem auto;
  width: fit-content;
  max-width: var(--width);
}

.footer a:hover {
  color: var(--accent);
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .projectHero h1 {
    font-size: 3.5rem;
  }

  .projectHero p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 856px) {
  .projectHero h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .guide {
    top: 1.2rem;
  }

  .projectHero h1 {
    font-size: 2.5rem;
  }
  .projectHero p {
    font-size: 1rem;
  }

  .floatingContainer > p {
    font-size: 1rem;
    max-width: 75%;
  }

  .floatingContainer {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .projectHero h1 {
    font-size: 2.8rem;
  }

  .projectHero p {
    font-size: 1.1rem;
  }
}
